*~
*.7
*.html
*.o
.deps
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
src/lwcored/astring.cpp
src/lwcored/astring.h
src/lwcored/cmdswitch.cpp
src/lwcored/cmdswitch.h
src/lwcored/lwcore.h
src/lwcored/lwcored
missing
Makefile
Makefile.in
moc_*
